*{
    font-family: 'Roboto', sans-serif;
}
body{
	margin:0; padding:0;
	/* background-image: url("../image/img-1.jpg"); */
	/* background-image: linear-gradient(45deg, rgb(0, 253, 76) ,rgb(8, 201, 191)); */
	background-image: linear-gradient(45deg, rgb(3, 122, 39) ,rgb(9, 231, 220));
	overflow: hidden;
}

/* start of nav bar */
.nav-bar{
	height: 50px; width:100%;
	background-image: linear-gradient(to bottom, rgb(56, 56, 56) ,rgb(0, 0, 0));
	position: relative;
	text-align:center;
	box-sizing: border-box;
}

.logo, .cont , .search{
	height: 50px;
	position:relative;
	display: inline;
}
.logo , .search{
	background-image: linear-gradient(to bottom, rgb(141, 139, 139) , rgb(255, 255, 255));
	
}
.logo{
	border-radius: 0 0 50px 0;
	
}


.search{
	border-radius: 0 0 0 50px;
}

.nav-bar > div > span{
	font-size: 25px;
	letter-spacing: 4px;
	position: relative;
	top:17%;
}
.search-box{
	height: 30px;
	width:103px;
	margin-top:10px;
	margin-right: -4px;
	background-color: none;
	color :black;
	border-radius:20px;
}
.search-logo{
	height:30px; 
	width:30px;
	margin-top:10px;
	border-radius:12px;
}

a{
	text-decoration: none;
	color :white;
}
a:visited{
	text-decoration: none;
	color: white;
}
a:hover{
	color: rgb(0, 204, 255);
}
/* end of nav bar  */


/* start middle */
.middle{
	text-align: center;
	height:100vh;
    display: flex;
	align-items : center ;
	justify-content: center;
}
.con{
	height: 100%;
	width : 35%;
	top: -7%;
	position : relative ;
	overflow: hidden;
	display: flex;
	align-items : center ;
	justify-content: center;
    text-align:center;
    color:white; 
}
p{
	font-size: 54px;
	letter-spacing: 4px;
	color:white;
	margin:0;
	letter-spacing: 5px;
}
table {
	width: 75%;
}
tr,td{
    color:white;
	text-decoration: none;
}
td > input{
	float:right;
}
.but{
	float:none;
	width:130px;
}

.form{
	top: -7%;
	text-align:center;
    position:relative ;
    float: left;
}
input,button{
	width: 200px;
	height: 30px;
	text-align: center;
	color : rgb(26, 24, 24);
	font-size:20px;
	border: 0; padding : 0 ; margin: 5px;
}
label{
    float:left;
    font-size: 20px;
}
#isex{
	width:20px;
	height:16px;
	float:none;
}
#sex{
	float:none;
}
input:hover, button:hover{
	background-color : rgb(0, 204, 255);
}
input:focus, button:focus{
	color :white;
	background-color : rgb(0, 0, 0);
}
/* end of middle  */



/* startfooter */


/* end of footer  */



/* responsive design */
@media (min-width : 992px) {
	
	.con-lg-1{		
		float: left;
		width: 8.33%;
	}
	.con-lg-2{
		width: 16.66%;
		float:left;
	}
	.con-lg-3{
		float : left ;
		width: 25%;
	}	
}
@media (min-width : 768px) and (max-width : 991px) {
	.con-md-3{
		float : left ;
		width: 25%;
	}
	.con-md-2{
		width: 16.66%;
		float:left;
	}
}
@media (max-width : 767px) {
	.con-sm-3{
		float : left ;
		width: 25%;
	}
}